
body{
    background-color: #201929;
}
.club{
    background-color: #201929;
}
.chapters{
    background-color: #201929;;
}
.checked {
    color: orange;
  }
.responsive{
    width: auto;
    height: 90px;
}
.club{
    
    padding: 3% 2%;
}
.event{
    background-color: #201929;
    padding: 3% 2%;
}
.featurette-divider{
    border-top: 1px dotted rgb(0, 255, 242); 
        border-width: 5px;
}
#grad {
    background-image: linear-gradient(to bottom right, rgb(19, 7, 59), rgb(80, 16, 88));
  }

.card{
    background-color:rgb(33, 44, 7);
}

.lead{
    color: white;
}
.carousel {
    width:100%;
    height:20%;
    margin: auto;
}  
#main{
    background-image: linear-gradient(to bottom right, rgb(19, 7, 59), rgb(80, 16, 88));
}

#form{
    background-color: #201929;
}

#contact{
    background-color:#201929;
}
